Error: 





<div class="container">
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <!--Panel-->
            <div class="card mb-r">

                <div class="card-block">
                    Please contact Support   

                </div>

                    <div class="modal-footer text-center">
                        <a href="" class="btn dsm-skin-secondary-color">Forgot Password</a>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
        
</div>
</div>
   