<div class="row">
    <div class="col-md-2">
    </div>

    <div class="col-md-8">

        <!--Panel-->
        <div class="card mb-r">

            <div class="card-block">
                <strong>About</strong>
            </div>
        </div>
    </div>

    <div class="col-md-2">
    </div>
</div>

@section Scripts{
}

