@using Personel.ViewModel
@model CategoriesViewModel

<div class="row">
    <div class="col-md-12">
        <!--Panel-->
        <div class="card mb-r">
            <div class="card-header white-text primary-color">
                Information
            </div>
            <div class="card-block">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mi mi, ullamcorper consequat eleifend et, faucibus quis lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Nullam nec facilisis ante. Suspendisse id erat varius, imperdiet diam at, gravida justo. Proin vel libero tincidunt, euismod diam vulputate, faucibus libero. Fusce consectetur commodo porttitor. Etiam molestie convallis leo ut consequat. Donec diam leo, egestas vitae leo et, imperdiet porta turpis.</p>
                <p>Fusce tortor nunc, sagittis eu odio eget, ultrices sodales elit. Donec ornare felis velit, facilisis pretium eros lobortis sed. Cras nec est ullamcorper, tempus arcu nec, suscipit tellus. Nam ultrices feugiat dictum. Mauris diam mi, elementum at vulputate dapibus, fermentum eu arcu. Aliquam erat volutpat. Praesent quis fringilla dolor. Quisque vitae aliquam eros. Vestibulum consequat mi vitae gravida bibendum. Nunc sollicitudin scelerisque diam, a imperdiet arcu elementum ac. Pellentesque fringilla vestibulum ipsum, feugiat imperdiet ipsum venenatis quis. Duis volutpat rutrum neque vel blandit. Mauris laoreet velit ut orci aliquam, ut maximus risus laoreet. Donec molestie felis a ornare suscipit.</p>

            </div>
        </div>
    </div>
</div>