@using Personel.ViewModel
@model ResetPasswordViewModel

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-5 login-form mx-auto float-none">
            <!--Logo goes here-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <!--Panel-->
            <div class="card mb-r">
                <div class="card-header white-text primary-color">
                    Reset Password
                </div>
                <div class="card-block">
                    <form action="@Url.Action("ResetPassword", "Account")" presubmit="validateForm('resetpassword',checkResetPassword)" method="post" id="resetpassword" data-indicator="false" data-strict-validator="false" data-submitButtonID="resetPassword">
                        <div class="md-form">
                            <input type="password" id="password" name="password" class="form-control validate" required value="@Model.Password" />
                            <label for="password" id="lpassword" data-error="" data-success="">Password</label>
                        </div>
                        <div class="md-form">
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control validate" required value="@Model.ConfirmPassword" />
                            <label for="confirmPassword" class="" data-error="" data-success="">Confirm Password</label>
                        </div>
                        <div class="text-center">
                            <button type="button" id="resetPassword" class="btn primary-color waves-effect waves-light">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    </div>
@section scripts{
    <script>
        function checkResetPassword(){
            return resetPassword().then(()=>{ return checkPasswordStrength('password') }).then(()=>{return checkPasswordStrength('confirmPassword')})
        }
    </script>
}
